.access-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.access-banner {
    text-align: center;
    background-color: rgb(200, 10, 30);
    flex: 1 0 250px;
}

.access-banner-container {
    width: fit-content;
    height: 100%;
    margin: auto;
    background-color: rgb(255, 197, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.access-banner-container * {
    margin: 0;
}
.access-banner-top-text,
.access-banner-bottom-text {
    font-size: 1rem;
}

.access-banner-top-text {
    order: -1;
    border-top: 2px solid;
}

.access-banner-bottom-text {
    order: 1;
    border-bottom: 2px solid;
}

.access-banner-main-title {
    font-size: 2.5rem;
    color: rgb(200, 10, 30);
}

.access-banner-main-text {
    font-size: 1.3rem;
}

.access-main {
    padding: 0 20px;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access-main-text {
    font-size: 1.5rem;
}

.access-main-form {
    width: 90%;
}

form>input,
form>button {
    font-size: 1.3rem;
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}

form>input:focus {
    border: 1px solid rgb(255, 197, 39);
}

form>button {
    margin-top: 1em;
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .access-container {
        flex-direction: row;
    }

    .access-form {
        width: 60%;
    }

    .access-banner {
        padding: 0 20px;
    }

    .access-banner,
    .main-content {
        flex: 1;
    }

    form {
        max-width: 450px;
    }
}

@media screen and (min-width: 1441px) {

    .top-text,
    .bottom-text {
        font-size: 1.5vw;
    }

    .main-title {
        font-size: 4vw;
    }

    .create-title {
        font-size: 2vw;
    }

    .main-text {
        font-size: 2vw;
    }

    form {
        max-width: 40vw;
    }

    form>input,
    form>button {
        font-size: 2vw;
        display: block;
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 1px solid lightgray;
        border-radius: 5px;
        outline: none;
    }

    input[type=checkbox] {
        width: 1.5vw;
        height: 1.5vw;
    }
}