*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.app-container {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  max-width: 80ch;
  margin: auto;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  flex: 1;
  padding: 1em;
  background-color: rgb(255, 197, 39);
  border: none;
  border-radius: 1em;
  cursor: pointer;
}